<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="style.css"/>
    <title>View Entry</title>
    </head>
    <body>
        <h1>View Entry Details</h1>
        <h3>Day 11, 08/22/16</h3>
        <p>Today, we code reviewed our server-from-scratch code.  We then learned about Pyramid and worked on this very site.  We also built the deque data structure, and worked on more testing and revising for previous structures.</p>
        <a href="../">Back to Home</a>
    </body>
</html>