<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="style.css"/>
    <title>David's Python 401 Learning Journal</title>
    </head>
    <body>
        <h1>David's Learning Journal for Python 401 at Code Fellows</h1>
        <h3>Entries</h3>
        <a href="/journal/new-entry">Create New Entry</a>
        <table id="entries_table">
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Edit</th>
            </tr>
            <tr>
                <td>8/22/2016</td>
                <td><a href="/journal/1">Day11</a></td>
                <td><a href="/journal/edit-entry">edit</a></td>
            </tr>
        </table>
    </body>
</html>