{% extends "my_template.jinja2" %}
{% block content %}
<h1>View Entry Details</h1>
<h3>{{ entry.title }} - {{ entry.creation_date }}</h3>
{{ entry.body }}
<h5><a href="../">Back to Home</a></h5>
{% endblock %}
