{% extends "my_template.jinja2" %}
{% block content %}
<h1>Edit an Existing Entry</h1>
<form action="{{ request.route_url('edit', id=entry.id) }}" method="POST">
    Title:<br>
    <input type="text" name="title" value="{{ entry.title }}"><br>
    <textarea name="body" rows="14" cols="50">{{ entry.body }}</textarea>
    <input type="submit" value="Submit">
</form>
{% if updated %}
<p>{{ entry.body }}</p>
{% endif %}
<a href="../../">Back to Home</a>
{% endblock %}