{% extends "my_template.jinja2" %}
{% block content %}
<h1>Edit and Existing Entry</h1>
<form>
    Title:<br>
    <input type="text" name="{{ entry.title }}" value="{{ entry.title }}"><br>
    <textarea rows="14" cols="50">{{ body }}
    </textarea>
    <input type="submit" value="Submit" disabled>
</form>
<a href="../">Back to Home</a>
{% endblock %}