{% extends "my_template.jinja2" %}
{% block content %}
<h3>Entries</h3>
<a href="/journal/new-entry">Create New Entry</a>
{# <table id="entries_table">
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Edit</th>
    </tr>
    {% for entry in entries %}
    <tr>
        <td>{{ entry.creation_date }}</td>
        <td><a href="/journal/{{ entry.id }}">{{ entry.title }}</a></td>
        <td><a href="/journal/{{ entry.id }}/edit-entry">edit</a></td>
    </tr>
    {% endfor %}
</table> #}
{{ one }}
{% endblock %}