{% extends "my_template.jinja2" %}
{% block content %}
<h1>Make a New Entry</h1>
<form action="{{ request.route_url('new') }}" method="POST">
    <input type="text" value="{{ creation_date }}" name="creation_date" placeholder="date here">
    <input type="text" name="title" placeholder="Title Here"><br>
    <textarea rows="14" cols="50" name="body">Entry here...</textarea>
    <input type="submit" value="Submit">
</form>
<h5><a href="../">Back to Home</a></h5>
{% if  entry.goofed %}
<script>alert('You goofed!');</script>
{% endif %}
{% endblock %}